[Unit]
Description=Apimon Executor container
Wants=syslog.service

[Service]
Type=simple
Restart=always
TimeoutSec=600s
User=apimon
Group=apimon
EnvironmentFile=/etc/apimon/env_executor

ExecStartPre=-/usr/bin/podman system migrate
ExecStartPre=-/usr/bin/podman pull ${EXECUTOR_IMAGE}
ExecStartPre=-/usr/bin/podman rm "apimon_executor"

ExecStart=/usr/bin/podman run \
  --name "apimon_executor" \
  --add-host=telegraf:{{ ansible_default_ipv4.address }} \
  --hostname={{ ansible_hostname }} \
  -v {{ executor_config_dir }}:/etc/apimon:ro \
  -v /var/lib/apimon:/var/lib/apimon:rw,Z \
  --tmpfs /tmp:rw,size=787448k \
  -v /var/log/apimon:/var/log/apimon:rw,Z \
  -v /home/{{ executor_os_user }}/tmp:/root/.ansible:rw,z \
  ${EXECUTOR_IMAGE} executor

ExecReload=-/usr/bin/podman stop "apimon_executor"
ExecReload=-/usr/bin/podman rm "apimon_executor"

ExecStop=/usr/bin/podman stop -t 10 "apimon_executor"

[Install]
WantedBy=multi-user.target

